html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}

* {
    font-family: Roboto, sans-serif;

}

.section1,
.section2,
.section3,
.section4 {
    display: flex;
    border: 2px solid red;
}

/* This are from section 1 */
.section1 {
    flex-direction: column;
    background-color: #1F2937;
    padding-bottom: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    margin-bottom: 50px;
    color: white;
}

.description {
    display: flex;
    padding: 0px 100px;
    justify-content: space-between;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.hero-main-text {
    font-size: 48px;
    margin: 0px;
    padding: 0px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary-text {
    font-size: 18px;
    padding: 0px;
    color: #E5E7EB;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.text-description {
    width: 420px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign-up-btn {
    color: white;
    background-color: #3882F6;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    width: 130px;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
}

.image-placeholder {
    width: 500px;
    height: 300px;
    border-radius: 25px;
    background-color: gray;
    align-self: center;
}

/* This are from section 2 */



.empty-box {
    width: 300px;
    height: 300px;
    border: 10px solid blue;
    background-color: white;
}

.footer {
    text-align: center;
    border: 3px solid red;
}